<div class="row">
    <div class="col-sm-3 text-center"><b>Image</b></div>
    <div class="col-sm-6 text-center"><b>Car Name/ID</b></div>
    <div class="col-sm-3 text-center"><b>Details/Remove</b></div>
</div>
<div class="row panel-height-500">
    <div class="col-sm-12">
        <div class="row row-eq-height" *ngFor="let car of userCars | paginate: { itemsPerPage: 9, currentPage: 1 }">
            <div class="col-sm-3 text-center">
                <img src="https://rrimages.azureedge.net/16/cars/{{carsMap.get(car.carId).imageName}}_Thumb.png">
            </div>
            <div class="col-sm-7 full-height text-center">
                <h4>Name: {{carsMap.get(car.carId).modelName}}</h4>
                <h4>Star rating: {{carsMap.get(car.carId).stars}}</h4>
            </div>
            <div class="col-sm-2 text-center">
                <button id="selectCar" class="btn btn-success" (click)="onSelectCar(car)"><span class="fa fa-info-circle"></span>Details</button>
                <button id="removeCar" class="btn btn-danger" (click)="onRemoveCar(car)"><span class="fa fa-exclamation-circle"></span>Remove</button>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
        <div class="has-text-centered">
            <pagination-controls></pagination-controls>
        </div>
    </div>
</div>